body {
  background-image: url(../img/2001.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  background-color: black;
}

.jumbotron {
  background-image: url(../img/hal.jpg);
  background-position: center;
  color: red;
  text-shadow: 2px 2px white;
  background-size: 75%;
  height: 300px;
}

h1 {
  padding-top: 50px;
}

#robot {
  max-width: 200px;
}

ul {
  list-style: none;
  font-style: italic;
  font-size: 20px;
}
