.container {
  color: white;
  background-color: black;
}

body {
  background-image: url(../img/space.jpg);
}

.jumbotron {
  background-image: url(../img/hal1.jpg);
  background-position: center;
  color: red;
  text-shadow: 2px 2px white;
  background-size: 75%;
  height: 300px;
}

h1 {
  padding-top: 50px;
}

#robot {
  max-width: 200px;
}

ul {
  list-style: none;
  font-style: italic;
  font-size: 20px;
}

button {
  margin-right: 15px;
}
